.overlay {
    background: linear-gradient(360deg, #fff 3.68%, rgba(255, 255, 255, 0) 45.6%), url(../../../public/pattern.svg), #FFFFFF;

}

.ball {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    background: #F2F2F3;
    box-shadow: -0.743616px 3.47021px 10.0674px #321f5e40, inset 0px 2.75944px 22.0755px #F0EBFB, inset 2.23085px -6.69254px 18.3425px 6.94041px #3700B8;
    animation: rounded-move 2s ease-in-out infinite;
}

@keyframes rounded-move {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}
