@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@splidejs/react-splide/css';
@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';
@import '@splidejs/react-splide/css/core';

@import '../styles/variables.scss';
@import '../styles/global.scss';
@import '../../public/font/font';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $neutral-86;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $neutral-70;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $neutral-60;
}

*:focus-visible {
  outline: 1px solid $neutral-50;
}

@media (prefers-color-scheme: dark) {
  s :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-y: scroll;
}

body {
  background: $neutral-0;
  font-family: 'Proxima Soft';
}

.source-serif-pro {
  font-family: 'Source Serif Pro';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-container {
  max-width: 1128px;
  padding-inline: 8px;
  margin-inline: auto;
}

.sc-title {
  &>* {
    line-height: 1;
  }

  .line {
    max-width: 74px;
    width: 100%;
    height: 1px;
    background-color: $primary-500;
  }
}

.primary-btn,
.secondary-btn {
  min-width: 200px;
  height: 60px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  font-weight: 700;

  &:hover {
    opacity: 0.9;
  }
}

.primary-btn {
  background-color: $primary-500;
  color: $primary-0;

  &:active {
    background-color: $primary-700;
  }
}

.secondary-btn {
  color: $primary-500;

  &:hover {
    background-color: $primary-5;
  }
}
