@import '../../styles/variables.scss';

.navbar_wrapper {
    background-color: $primary-0;
    box-shadow: 0 12px 56px -28px #8957ff40;

    .nav_links_wrapper,
    .nav_links_wrapper_desktop {
        li {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: .2s;

            &:hover {
                background-color: $primary-5;
            }

            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.menu_wrapper {
    .menu_box {
        position: relative;

        &>* {
            transition: .4s;
        }

        .line_1 {
            position: absolute;
            top: 0;
            width: 50%;
            height: 2px;
            background-color: $primary-500;
        }


        .line_2 {
            position: absolute;
            top: 20%;
            width: 75%;
            height: 2px;
            background-color: $primary-500;
        }

        .line_3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $primary-500;
        }

        &.active {
            .line_1 {
                position: absolute;
                top: 50%;
                rotate: 45deg;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                background-color: $primary-500;
            }


            .line_2 {
                position: absolute;
                top: 20%;
                width: 75%;
                height: 2px;
                background-color: $primary-500;
                opacity: 0;
            }

            .line_3 {
                position: absolute;
                bottom: 50%;
                rotate: -45deg;
                transform: translateY(50%);
                width: 100%;
                height: 2px;
                background-color: $primary-500;
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .nav_links_wrapper {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 0;
        background-color: $primary-0;
        border: 1px solid $primary-10;
    }
}