.background_ball {
    position: absolute;
    width: 212px;
    height: 216.76px;
    right: -50px;
    bottom: -75.45px;

    /* primary/5 */
    background: #F2F2F3;
    border-radius: 1000px;
    opacity: 0.2;
    box-shadow: -2.81512px 13.1372px 38.1124px rgba(50, 31, 94, 0.25), inset 0px 10.4465px 83.5717px #F0EBFB, inset 8.44535px -25.3361px 69.4395px 26.2744px #3700B8;
}